@font-face {
    font-family: Ubuntu;
    src: url(font/Ubuntu-Regular.ttf);
}

*{
    margin: 0;
}

body{
    font-family: Ubuntu, sans-serif;
    background-color: #000;/*#44aaf4;*/
    background-image: url(files/hubble-xdf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    font-size: 18px;
    justify-content: center;
}

article{
    margin-top: 79px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

#quiz__intro{
    background-color: #134065;
    justify-content: center;
    width: calc(100%-30px);
    max-width: 100%;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

#quiz__intro p{
    color: white;
    text-align: left;
    margin: 7pt;
}

#quiz__intro strong{
    font-size: 95%;
}

hr{
    border-color: #153b71;
    margin: 0;
}


.listaPerguntas{
    background-color: #498e49;
    padding-top: 10px;
    padding-left: auto;
    padding-right: 40px;
    padding-bottom: 30px;
    margin: 0;
}

.listaPerguntas__item{
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.listaPerguntas__item::marker{
    color: white;
}

.pergunta{
    color: white;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0; /*senão a pergunta no <span> fica embaixo do número*/
}

.pergunta.formatacao.resposta{
    display: block;
}

.botoes__formatacao{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 90px;
    margin: 0;
}

.botao{
    width: 170px;
    max-width: 170px;
    height: 85px;
    background-color: #70defc;
    border: 3px #242546;
    border-radius: 10px;
    font-family: Ubuntu, sans-serif;
    margin-left: 0;
    margin-right: 2vw;
    font-size: 18px;
    box-shadow: inset -5px -5px #5c9fd3;
    flex: 1 0 150px;
}

.fonte-pequena{
    font-size: 14px;
}

.resposta{
    display: flex;
    align-self: center;
    padding: 20px;
    margin-top: 10px;
    background-color: #e5d0b7;
    border-radius: 7px;
    box-shadow: inset -4px -4px #a48e72;
}

.mensagem{
    font-weight: bold;
    margin-bottom: 10px;
}

.resultado{
    background-color: #b7e5dd; /*#98f1e9;*/
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.resultado p{
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

strong{
    font-size: 95%;
}

/*footer{
    display: flex;
    height: 80px;
    bottom: 0;
    width: 100%;
    background-color: #151515;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}/*

/*css funcional*/

.listaPerguntas__item--inativo {
    opacity: 0.5;
    cursor: default;
}

.ativo{
    transition: 0.2s;
}

.ativo:hover{
    background-color: #3d91c9;
    box-shadow: inset -5px -5px #31569a;
    color: #ffffff;
}

.botao--correto {
    background-color: #00c030;
    box-shadow: inset -5px -5px #1a7f30;
    color: white;
}

.botao--incorreto {
    background-color: #c63333;
    box-shadow: inset -5px -5px #9b1e3b;
    color: white;
}