@font-face {
    font-family: Ubuntu;
    src: url(font/Ubuntu-Regular.ttf);
}

*{
    margin: 0;
}

body{
    font-family: Ubuntu, sans-serif;
    background-color: #000;/*#44aaf4;*/
    background-image: url(files/hubble-xdf.jpg);
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
}

#quiz__intro{
    background-color: #abe1ab;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

#quiz__intro p{
    text-align: left;
}

hr{
    border-color: #153b71;
    margin: 0;
}


.listaPerguntas{
    background-color: #77ba77;
    padding-top: 10px;
    margin: 0;
}

.listaPerguntas__item{
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.pergunta{
    margin-top: 23px;
    margin-bottom: 23px;
}

.pergunta.formatacao.resposta{
    display: block;
}

.botoes__formatacao{
    display: inline-flex;
    text-align: center;
    height: 90px;
}

.botao{
    width: 170px;
    height: 85px;
    background-color: #70defc;
    border: 3px #242546;
    border-radius: 10px;
    font-family: Ubuntu, sans-serif;
    margin-left: 0;
    margin-right: 2vw;
    font-size: 18px;
    box-shadow: inset -5px -5px #5cbad3
}

.fonte-pequena{
    font-size: 14px;
}

.resposta{
    display: flex;
    align-self: center;
    padding: 20px;
    background-color: #e5d0b7;
    border-radius: 7px;
    box-shadow: inset -4px -4px #a48e72;
}

/*css funcional*/

.listaPerguntas__item--inativo {
    opacity: 0.5;
    cursor: default;
}

.botao.respondido {
    opacity: 0.5;
    cursor: not-allowed;
}

.pergunta{
    margin: 0; /*senão a pergunta no <span> fica embaixo do número*/
}

.ativo{
    transition: 0.3s;
}

.ativo:hover{
    background-color: #3d91c9;
    box-shadow: inset -5px -5px #31709a;
    color: #ffffff;
}

.botao--correto {
    background-color: #388738;
    box-shadow: inset -5px -5px #275c27;
    color: white;
}

.botao--incorreto {
    background-color: #b12c2c;
    box-shadow: inset -5px -5px #812020;
    color: white;
}